
body{
  background-color: black;
  color: #fff;
  justify-content: center;
  text-align: center;
  padding: 20px;
}
/* .userinput {
  border: 1px solid #fff;
  padding: 9px;
  width: 200px;
  text-align: center;
  right: 42%;
  position: absolute;
} */
.userinput input {
  border: 0px;
  padding: 8px;
  margin-right: 18px;
  border-radius: 10px;
}
.userinput i {
  border: 1px solid #fff;
  padding: 2px;
  box-shadow: -2px 2px 13px #fff;
}

.body {
  width: 500px;
  border: 1px solid;
  /* justify-content: center; */
  display: flex;
  justify-content: center;
  position: absolute;
  right: 30%;
  padding: 20px;
  padding-bottom: 25px;
}
.mainshow {
  padding: 0px 10px;
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
  margin: 20px;
}
button.clearbtn {
  padding: 10px 20px;
  color: #000;
  background: #fff;
  border: 0px;
  padding: 1;
  margin-top: 10px;
}